*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body html{
  background-color: #E5E5E5;
}

#root{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}